
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Recursive:wght@600&family=Roboto&family=Rock+Salt&display=swap');
main section img {
    box-sizing: border-box;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.home-title{
    font-family: "Radio Canada", "Roboto", sans-serif;
    font-size: 2em;
    margin-top: 10px;
    
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Radio Canada","Roboto", sans-serif;
    padding: 35px;
}

nav a:hover{
    background-color: #283d3b;

}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    
}

h1{
    font-family: "Rock Salt", "Recursive:wght@600", serif;
    
}

.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: #197278;
    font-family: "Radio Canada","Roboto", sans-serif;
    /* color: limegreen; */
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header{
    background-color: #c44536;
    font-family: "rock salt","Recursive:wght@600", serif;
    
}



.book{
    background-color: #283d3b;
    color:#edddd4;
    font-family: "Radio Canada","Roboto",sans-serif;
}

.join{
    background-color: #c44536;
    color:#edddd4;
    text-decoration: none;
    font-family: "Radio Canada","Roboto", sans-serif;
    
}

.book, join{
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}


.book:hover{
    background-color: #c44536;
}


.join:hover{
    background-color: #283d3b;
}


.river-card, .camping-card, .rapids-card{
    margin: 200px 0;
}


#background{
    background-color: #283d3b;
}

.msg{
    background-color: #c44536;
    color:#edddd4;
    line-height: 1.5em;
    font-family: "Radio Canada";
    padding: 35px;
    
}

.msg h2{
    font-family: "Rock Salt", "Recursive:wght@600", serif;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;

}

.h2 {
    margin: 0;
    
}

footer{
    background-color: #c44536;
    color: #edddd4;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: #edddd4;
    text-decoration: none;
    /* color: yellow; */
    font-family: "Radio Canada","Roboto", sans-serif;
}

footer h3 a{
    color:#edddd4;
}

footer h3 a:hover{
    text-decoration: underline;

    background-color: #283d3b;
    color: #edddd4;
}

footer .social img{
    padding-top: 15px;
}
/* footer a:hover{
    background-color: #283d3b;
    color: #edddd4;
} */



/* .river-card, .camping-card, .rapids-card{
    width: 80px;
} */

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

.card-img{
    border: 10px solid;
}

